parameters:
    level: 5
    paths:
        - src

    ignoreErrors:
        - '#Call to an undefined (static )?method Illuminate\\#'
        - '#Call to an undefined (static )?method Pradeepdev\\EnvironmentManager\\Models\\#'
        - '#Property .* is never read, only written#'

    treatPhpDocTypesAsCertain: false
